@font-face {
  font-family: "Icons";
  src: url("/assets/fonts/icons.eot");
  src: url("/assets/fonts/icons.woff") format("woff"),
    url("/assets/fonts/icons.ttf") format("truetype"),
    url("/assets/fonts/icons.svg#filename") format("svg");
}

.icon-glyphs {
  font-family: Icons
}